workspace/.idea/
workspace/funCKit/.idea/
workspace/funCKit/funCKit.iml
workspace/funCKit/target/
workspace/funCKit/.classpath
workspace/funCKit/.project
workspace/funCKit/.settings/
*.idea/
*.iml
funCKit.ipr
funCKit.iws

## ignore editor backup files
*.backup
*~
*.swp

workspace/funCKit/doc
workspace/funCKit/doxydoc
